<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <div class="container-fluid p-0">
        <header class="row">
        	
            <img class="aa" src="images/banner.png" />
        </header>
        <nav class="navbar navbar-expand-lg bg-light">
            <!-- <div class=""> -->

            <div class="container collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex justify-content-between align-items-center mx-2">
                        <i class="fs-4 mx-1 bi bi-house-fill"></i>
                        <a class="nav-link active" aria-current="page" href="index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between align-items-center mx-2">
                        <i class="fs-4 mx-1 bi bi-card-list"></i>
                        <a class="nav-link active" href="gioithieu.html">Giới thiệu</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between align-items-center mx-2">
                        <i class="fs-4 mx-1 bi bi-telephone-fill"></i>
                        <a class="nav-link active" href="lienhe.html">Liên hệ</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between align-items-center mx-2">
                        <i class="fs-4 mx-1 bi bi-envelope-fill"></i>
                        <a class="nav-link active" href="#">Góp ý</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between align-items-center mx-2">
                        <i class="fs-4 mx-1 bi bi-chat-text-fill"></i>
                        <a class="nav-link active" href="#">Hỏi đáp</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between align-items-center mx-2 dropdown">
                        <i class="fs-4 mx-1 bi bi-person-circle"></i>
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tài khoản
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="dangnhap.html">Đăng Nhập</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="dangki.html">Đăng kí</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="quenpass.html">Quên mật khâu</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Cập nhật tài khoản</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="index.html">Đăng xuất</a></li>

                        </ul>
                    </li>


                </ul>
            </div>
        </nav>
        <div class="container my-5 ">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Tền tài khoản</span>
          <input  class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <button type="button" class="btn btn-primary btn-lg">Reset password</button>

        <footer class="container-fluid text-center text-lg-start bg-dark text-white ">
            <section class="">
                <div class="container text-center text-md-start mt-5 py-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3">
                                    <img src="site/src/img/logo.png" class="logo-footer " alt="">
                                </i>
                            </h6>
                            <p>
                                Copyright © 2022 Công ty Cổ Phần Thương Mại THẾ GIỚI GIÀY.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Chính sách công ty
                            </h6>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Điều khoản sử dụng.</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Chính sách bảo mật thông tin.</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Chính sách vận chuyển, giao nhận kiểm
                                    hàng.</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Chính sách bảo hành.</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Chính sách đổi trả.</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Chính sách bảo hành.</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Trợ giúp
                            </h6>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Hướng dẫn mua hàng</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Phương thức thanh toán</a>
                            </p>
                            <p>
                                <i class="bi bi-circle-fill px-2" style="font-size: 8px"></i><a href="#!"
                                    class="text-reset text-decoration-none">Gói quà miễn phi</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <div><iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8658908801967!2d105.74428027443474!3d21.038051387461017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1668130902826!5m2!1svi!2s"
                                    width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                            <p><i class="bi bi-house-door"></i> Phố Trịnh Văn Bô, Quận Nam Từ Liêm, Tp Hà Nội </p>
                            <p>
                                <i class="bi bi-envelope"></i></i>
                                polyperfume2@gmail.com
                            </p>
                            <p><i class="bi bi-telephone-outbound"></i> + 0123456789</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4 border-top" style="background-color: rgba(0, 0, 0, 0.025);">
                Copyright © 2022 Công ty Cổ Phần Thương Mại THẾ GIỚI GIÀY.
                <!-- Copyright -->
        </footer>
        <!-- Footer -->

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>