
*{
      box-sizing: border-box;
}
.container{
    width:70% ;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
    
}
.row1{
    margin-right: 2%;
    
}
.mg{
    padding: 20px;
}
.mabot{
    margin-bottom: 20px;
}
.deco{
    background-color: gray;
    min-height: 100px;
}
.d{
    width: 30%;
}
.header{
    background-color: rgb(43, 39, 39);
    border: 1px green solid;
    font-size: 1w;
    color: red;
    border-radius: 5px;
}
.a{
    text-align: center;
    font-size: xx-large;
}
.nu{
    display: flex;
    gap:3rem;
    
}
.nd{
    padding-left:10px;
    width: 30%;
    
    border: gray solid 1px;
    
    gap:2rem;
}
.im img{
    width: 100%;
    padding:8px;
}
.tt{
    text-align: center;
    color: red;
    font-size: xsmall;
}
.nd1{
    float: right;
    width: 32%;
}
.nd2{
    float: right;
    width: 32%;
}


.header1{
    margin: 40px;
    text-align: center;
}
.sear{
    width: 60%;
    text-align: center;
    height: 30px;
    float:right;
}
nav{
     
      display: inline-block;
      text-decoration: none;
      background-color: rgb(217, 91, 91);
     
     width: 100%;
     
     
    
      

}
footer{
    background-color: aquamarine;
    text-align: center;
    margin: 10px;
}
.c{
    border: gray solid 1px;
    text-align: center;
}
   
    
   

nav ul li{
    
    display: inline-block;
    margin-left: 60px;
 
}
nav ul a{
    text-decoration: none;
    
}
nav ul a:hover{
   color: red;
   background-color: chartreuse;
}

.k{
    display: flex;
    gap: 3rem;
    
}
.k1{
    display: flex;
    gap: 1rem;
    
}
.clear{
    clear: both;
}
.phai{
    width: 35%;
}


.tk{
    background-color: rgb(172, 161, 161);
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px black solid;
   

}
.ab{
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px black solid;
}
.abc{
    line-height: 20px;
}
.h{
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.cont input[type="submit"]{
    padding: 20px;
}
.cont{
    padding: 20px;
}
.q{
    width: 100%;
}
.ds1 table{
    width: 100%;
    border-collapse: collapse;
    
}
 .ds1 table th{
    
    background-color: gray;
    padding: 10px;
}
/*.ds1 table th:nth-child(2){
    width: 20%;
    background-color:gray;
    padding: 10px;
}
.ds1 table th:nth-child(3){
    width: 40%;
    background-color:gray;
    padding: 10px;
}
.ds1 table th:nth-child(4){
    width: 30%;
    background-color: gray;
    padding: 10px;
} */
.ds1 table td{
    padding: 10px 20px;
     border: 1px black solid;
     

}
.z{
    height: 100px;
}